/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;500&display=swap');
@import url(./main.css);


.showcase {
    // background-position: -0% 120%;
    
    .container {
        justify-content: center;
        
        .content {
            padding-top: 6rem;
            padding-bottom: 6rem;
            
            .section-title {
                text-align: center;

                a {
                    text-align: center;
                    text-decoration: none;
                    font-size: 16px;
                    margin: 0;
                    padding: 1rem;
                    color: #191919;
                    font-weight: 300;

                    &.active {
                        text-decoration: none;
                        font-weight: 500;
                        margin: 0;
                    }

                    &:hover {
                        font-weight: 500;
                    }
                }

                h1 {
                    margin-top: 1.5rem;
                    font-size: 56px;

                    @media (max-width: 576px) {
                        font-size: 2.5em;
                    }
                }
            }
        }
    }
}

.contact {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;
        padding-top: 5rem;

        @media (max-width: 1200px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 992px) {
            grid-template-columns: 1fr;
        }

        .box {
            display: flex;
            flex-direction: row;
            border: 1px solid #D1D1D1;
            padding: 2rem 2rem 2rem 3rem;

            .round-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                align-self: flex-start;
                background-color: #191919;
                height: 60px;
                width: 60px;
                border-radius: 50%;

                i {
                    color: #FFFFFF;
                    font-size: 24px;
                }
            }

            .box-text {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin-left: 1rem;

                h3 {
                    font-size: 22px;
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                }

                p {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}

.form {
    margin-top: 4rem;

    @media (max-width: 1200px) {
        background-color: #F0EFE9;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: #F0EFE9;

        .section-title {
            margin-top: 3rem;
            
            h2 {
                text-align: center;
            }
        }

        .form-container {
            margin-top: 2rem;
            margin-bottom: 2rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-left: 10rem;
            padding-right: 10rem;

            @media (max-width: 992px) {
                padding-right: 1rem;
                padding-left: 1rem;
            }

            .input {
                width: 100%;

                .form-input {
                    padding: 15px 30px;
                    margin-bottom: 2rem;
                    width: 100%;
                    border-radius: 25px;
                    border: none;
                }
            }

            a {
                width: 100%;
                text-align: center;
            }
        }           
    }
}

.map {
    margin-top: 4rem;

    iframe {
        width: 100%;
        height: 620px;
    }
}