/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;500&display=swap");
html, body {
  margin: 0;
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-yellow {
  background-color: #F9D783;
  border: solid 1px #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: solid 1px #191919;
  color: #F0EFE9;
}

.btn-transparent {
  background-color: transparent;
  border: solid 1px #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: solid 1px #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: solid 1px #191919;
  color: #F0EFE9;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #F9D783;
  border: solid 1px #F9D783;
  color: #191919;
}

.btn-round {
  display: inline-block;
  width: 56px;
  height: 56px;
  padding-top: 16px;
  padding-left: 2px;
  line-height: 20px;
  border: 1.2px solid #191919;
  border-radius: 50%;
  color: #191919;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
}
.btn-round:hover {
  background-color: #F9D783;
  border: solid 1px #F9D783;
  color: #191919;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: space-between;
}
header .container .menu-bars {
  border: none;
  background-color: transparent;
  font-size: 25px;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  border-bottom: solid 1px #DAD9D3;
  padding-bottom: 10px;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact {
    display: flex;
  }
}
header .container .menu .top-menu .contact .contact-info {
  margin-right: 2rem;
  border-right: solid 1px #DAD9D3;
  padding-right: 2rem;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
header .container .menu .top-menu .contact .contact-info i {
  margin-right: 5px;
  font-size: 1.2em;
  color: #666666;
}
header .container .menu .top-menu .contact .contact-info.last {
  border: none;
}
header .container .menu .top-menu .contact-media a {
  margin-left: 0.5rem;
  color: #191919;
  font-size: 1.2rem;
}
header .container .menu .top-menu .contact-media a:hover {
  color: #F94D1C;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  font-weight: 500;
  position: absolute;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.showcase {
  background-color: #F0EFE9;
  background-image: url("/images/waves2.svg");
  background-repeat: no-repeat;
  background-position: -2% 102%;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 50px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 769px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
    padding: 15px 30px;
  }
}
.showcase .container .image {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container .image {
    display: block;
  }
}

.companies {
  display: none;
}
@media (min-width: 1400px) {
  .companies {
    display: flex;
    justify-content: center;
    gap: 55px;
    margin: 3rem;
  }
}

.features {
  border: 1.2px solid #d1d1d1;
  border-radius: 1.2px;
  margin-left: 12rem;
  margin-right: 12rem;
}
@media (max-width: 1400px) {
  .features {
    padding: 2rem 0;
  }
}
@media (max-width: 576px) {
  .features {
    border: none;
    padding: 0;
    margin: 0;
  }
}
.features .container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
@media (max-width: 992px) {
  .features .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.features .content-left {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 2rem;
  margin-bottom: 10rem;
}
.features .content-left h2 {
  margin: 1.5rem 0 2rem 0;
  color: #F94D1C;
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 992px) {
  .features .content-left h2 {
    margin: 1rem;
  }
}
@media (max-width: 576px) {
  .features .content-left h2 {
    margin: 1.5rem 0;
  }
}
.features .content-left p {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
@media (max-width: 1400px) {
  .features .content-left p {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .features .content-left p {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .features .content-left p {
    font-size: 1.5em;
  }
}
@media (max-width: 576px) {
  .features .content-left p {
    font-size: 1.3em;
    max-width: 100%;
  }
}
.features .content-left .btn-yellow {
  text-align: center;
  border-radius: 50px;
  padding: 15px 30px;
  max-width: 100%;
}
@media (max-width: 992px) {
  .features .content-left {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0;
  }
}
@media (max-width: 576px) {
  .features .content-left {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}
.features .content-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 2rem;
  margin-top: 4rem;
}
.features .content-right .content-box {
  padding: 1rem;
}
@media (max-width: 992px) {
  .features .content-right .content-box {
    padding: 0;
  }
}
.features .content-right i {
  margin-bottom: 2rem;
  font-size: 25px;
}
@media (max-width: 992px) {
  .features .content-right i {
    margin-bottom: 0;
    margin-top: 1rem;
  }
}
@media (max-width: 992px) {
  .features .content-right {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
  }
}
@media (max-width: 768px) {
  .features .content-right {
    display: none;
  }
}

.about-company {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .about-company {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.about-company .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .about-company .container {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0;
    text-align: center;
    align-items: center;
  }
}
.about-company .container .column-left {
  display: flex;
  position: relative;
  margin-left: 3rem;
}
@media (max-width: 576px) {
  .about-company .container .column-left {
    margin-left: -15rem;
    align-content: center;
  }
}
.about-company .container .column-left .img {
  position: absolute;
}
@media (max-width: 576px) {
  .about-company .container .column-left .img {
    width: 100%;
    height: auto;
  }
}
.about-company .container .column-left .founder-box {
  background-color: #BEEBFF;
  position: absolute;
  margin-left: -60px;
  margin-bottom: 20px;
  align-self: flex-end;
  max-width: 368px;
  padding: 2rem 1rem 2rem 2rem;
}
@media (max-width: 576px) {
  .about-company .container .column-left .founder-box {
    margin: 0 auto;
    text-align: left;
  }
}
.about-company .container .column-left .founder-box h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #191919;
}
.about-company .container .column-left .founder-box span {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: #F94D1C;
  font-weight: 700;
}
.about-company .container .column-left .founder-box p {
  font-size: 16px;
  margin-top: 1rem;
}
.about-company .container .column-right {
  padding: 1.5rem;
}
@media (max-width: 576px) {
  .about-company .container .column-right {
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }
}
.about-company .container .column-right h2 {
  margin: 1.5rem 0 2rem 0;
  color: #F94D1C;
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 992px) {
  .about-company .container .column-right h2 {
    margin: 1rem;
  }
}
@media (max-width: 576px) {
  .about-company .container .column-right h2 {
    margin: 0 auto;
    padding-bottom: 2rem;
  }
}
.about-company .container .column-right h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
@media (max-width: 1400px) {
  .about-company .container .column-right h3 {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .about-company .container .column-right h3 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .about-company .container .column-right h3 {
    font-size: 1.5em;
  }
}
@media (max-width: 576px) {
  .about-company .container .column-right h3 {
    padding-bottom: 2rem;
  }
}
.about-company .container .column-right p {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
@media (max-width: 576px) {
  .about-company .container .column-right p {
    display: none;
  }
}
.about-company .container .column-right .btn-black {
  margin-right: 2rem;
}
.about-company .container .column-right span {
  margin-left: 1rem;
}