/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;500&display=swap');


html, body {
    margin: 0;
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
}

.btn-yellow {
    background-color: #F9D783;
    border: solid 1px #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: solid 1px #191919;
        color: #F0EFE9;
    }
}

.btn-transparent {
    background-color: transparent;
    border: solid 1px #191919;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: solid 1px #191919;
        color: #F0EFE9;
    }
}

.btn-black {
    background-color: #191919;
    border: solid 1px #191919;
    color: #F0EFE9;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #F9D783;
        border: solid 1px #F9D783;
        color: #191919;
    }
}

.btn-round {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 56px;
	height: 56px;
	border: 1.2px solid #191919;
	border-radius: 50%;
	color:#191919;
    text-decoration: none;
	background-color: transparent;
	font-size: 16px;
	font-weight: 700;

    &:hover {
        background-color: #F9D783;
        border: solid 1px #F9D783;
        color: #191919;
    }
}

.section-title {
    p {
        margin: 1rem 0 1rem 0;
        color: #F94D1C;
        font-weight: 400;
        font-size: 18px;

        @media (max-width: 576px) {
            font-size: .9em;
        }
    }

    h2 {
        font-family: 'DM Sans', sans-serif;
        font-size: 45px;
        font-weight: 700;
        color: #191919;

        @media (max-width: 1400px) {
            font-size: 40px;
        }

        @media (max-width: 992px) {
            text-align: center;
        }

        @media (max-width: 768px) {
            font-size: 1.3em;
        }
    }

    h1 {
        font-family: 'DM Sans', sans-serif;
        font-size: 45px;
        font-weight: 700;
        color: #191919;

        @media (max-width: 1400px) {
            font-size: 40px;
        }

        @media (max-width: 992px) {
            text-align: center;
        }

        @media (max-width: 768px) {
            font-size: 1.5em;
        }

        @media (max-width: 576px) {
            font-size: 1em;
        }
    }
}

header {
    background-color: #F0EFE9;
    padding: 16px;

    .container {
        display: flex;
        gap: 70px;
        align-items: center;
        justify-content: space-between;

        .menu-bars {
            border: none;
            background-color: transparent;
            font-size: 25px;

            @media (min-width: 992px) {
                display: none;
            }
        }

        .menu {
           display: none;
           flex: 1;

           @media (min-width: 992px) {
            display: block;
           }

           .top-menu {
            display: flex;
            justify-content: flex-end;
            border-bottom: solid 1px #DAD9D3;
            padding-bottom: 10px;
            align-items: center;

            @media (min-width: 1200px) {
                justify-content: space-between;
            }

            .contact {
                display: none;
                align-items: center;

                @media (min-width: 1200px) {
                    display: flex;
                }

                .contact-info {
                    margin-right: 2rem;
                    border-right: solid 1px #DAD9D3;
                    padding-right: 2rem;
                    font-size: 15px;
                    font-family: "Inter", sans-serif;
                    font-weight: 300;

                    i {
                        margin-right: 5px;
                        font-size: 1.2em;
                        color: #666666;
                    }

                    &.last {
                        border: none;
                    }
                }
            }

            .contact-media {

                a {
                    margin-left: 0.5rem;
                    color: #191919;
                    font-size: 1.2rem;

                    &:hover {
                        color: #F94D1C;
                    }
                }
            }

           }

           .main-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px; 

            nav {
                a {
                    display: inline-block;
                    color: #191919;
                    text-decoration: none;
                    margin-right: 35px;
                    position: relative;

                    &.active {
                        font-weight: 500;
                    }

                    &.active::after,
                    &:hover::after {
                        content: '';
                        font-weight: 500;
                        position: absolute;
                        height: 2px;
                        width: 15px;
                        background-color: #191919;
                        left: 50%;
                        bottom: -3px;
                        transform: translate((calc(50% - 15px)));
                    }
                }
            }

            .btn-login {
                padding-top: 12px;
                padding-bottom: 12px;
            }
           
        }
        }
    }

}

.showcase {
    background-color: #F0EFE9;
    background-image: url('../images/waves2.svg');
    background-repeat: no-repeat;
    background-position: -2% 102%;
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            padding-top: 60px;
            padding-bottom: 40px;
            text-align: center;

            @media (min-width: 1200px) {
                text-align: left;
            }

            h1 {
                font-family: 'DM Sans', sans-serif;
                font-size: 50px;
                font-weight: 700;

                @media (min-width: 768px) {
                    font-size: 70px;
                }

                @media (min-width: 1400px) {
                    font-size: 86px;
                }
            }

            p {
                font-family: 'Inter', sans-serif;
                font-size: 18px;
                font-weight: 400;
                padding-top: 40px;
                padding-bottom: 40px;
                padding-left: 10px;
                padding-right: 10px;

                
                @media (min-width: 768px) {
                    font-size: 20px;
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            a {
                margin-right: 0px;
                display: block;
                margin-bottom: 20px;

                @media (min-width: 769px) {
                    margin-right: 10px;
                    display: inline-block;
                    padding: 15px 30px;
                }
            }

        }
        
        .image {
            display: none;
            margin-right: -50px;

            @media (min-width: 1200px) {
                display: block;
            }
            
        }

    }
}

.companies {
    display: flex;
    justify-content: center;
    gap: 55px;
    margin: 3rem;

    @media (max-width: 1200px) {
       display: flex;
       flex-direction: column;
       margin: 0;
       align-items: center;
       gap: 0px;
       margin-top: 1rem;
       margin-bottom: 1rem;
    
       img {
        width: 40%;
       }
    }
}

.features {
    border: 1.2px solid #d1d1d1;
    border-radius: 1.2px;
    margin-left: 12rem;
    margin-right: 12rem;

    @media (max-width: 1400px) {
        padding: 2rem 0;
    }

    @media (max-width: 576px) {
        border: none;
        padding: 1rem;
        margin: 0;
        text-align: left;
    }

    .container {
        display: flex;
        justify-content: space-between;
        padding: 2rem;

        @media (max-width: 992px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        @media (max-width: 576px) {
            width: 100%;
            padding: 0;
        }

    }

    .content-left { 
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        padding: 2rem;
        margin-bottom: 10rem;

        p {
            margin: 1.5rem 0 2rem 0;
            color: #F94D1C;
            font-weight: 400;
            font-size: 18px;

            @media (max-width: 992px) {
                margin: 1rem;
            }

            @media (max-width: 576px) {
                margin: 1rem 0;
                font-size: .9em;
            }
        }

        h2 {
            font-family: 'DM Sans', sans-serif;
            font-size: 45px;
            font-weight: 700;

            @media (max-width: 1400px) {
                font-size: 40px;
            }

            @media (max-width: 992px) {
                text-align: center;
            }

            @media (max-width: 768px) {
                font-size: 1.5em;
            }

            @media (max-width: 576px) {
                font-size: 1.3em;
                width: 100%; 
            }

        }

        .btn-yellow {
            text-align: center;
            border-radius: 50px;
            padding: 15px 30px;
            width: 100%;
            margin-top: 2rem;
        }


        @media (max-width: 992px) {
            display: flex;
            align-content: center;
            align-items: center;
            margin-bottom: 1rem;
            padding: 0;
        }

        @media (max-width: 576px) {
            margin-bottom: 2rem;
            width: 100%;
        }
    }

    .content-right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 2rem;
        margin-top: 4rem;

        .content-box {
            padding: 1rem;

            @media (max-width: 992px) {
                padding: 0;
            }
        }

        i {
            margin-bottom: 2rem;
            font-size: 25px;

            @media (max-width: 992px) {
                margin-bottom: 0;
                margin-top: 0;
            }
        }

        @media (max-width: 992px) {
            padding: 0;
            grid-template-columns: 1fr;
            text-align: center;
            margin-top: 2rem;
        }

        @media (max-width: 768px) {
            display: grid;
            grid-template-columns: 1fr;

            p{
                font-size: 0.9em;
            }
        }
    }
}

.about-company {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;

    @media (max-width: 576px) {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    
    .container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 576px) {
            display: flex;
            flex-direction: column;
            padding: 0;
            align-items: center;
            width: 100%;
        }

        .column-left {
            display: flex;
            position: relative;
            margin-left: 3rem;

            @media (max-width: 576px) {
                width: 100%;
                // margin-left: -15rem;
                margin-left: 0;
                align-content: center;
            }
            
            img {
                position: absolute;
                
                @media (max-width: 576px) {
                    width: 100%;
                    height: auto;
                    position: relative;
                }
            }
            
            .founder-box {
                background-color: #BEEBFF;
                position: absolute;
                margin-left: -60px;
                margin-bottom: 20px;
                align-self: flex-end;
                max-width: 368px;
                padding: 2rem 1rem 2rem 2rem;
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

                @media (max-width: 576px) {
                    margin: 0 auto;
                    text-align: left;
                    max-width: 100%;
                    padding: 1rem;
                }


                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    color: #191919;

                    @media (max-width: 576px) {
                        font-size: 1.1em;
                    }
                }

                span {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 16px;
                    color: #F94D1C;
                    font-weight: 700;
                    
                    @media (max-width: 576px) {
                        font-size: .9em;
                    }
                }

                p {
                    font-size: 16px;
                    margin-top: 1rem;

                    @media (max-width: 576px) {
                        font-size: .9em;
                    }
                }
            }
        }

        .column-right {
            padding: 1.5rem;

            @media (max-width: 576px) {
                padding: 0;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                padding-top: 1.5rem;
                width: 100%;
            }

            h3 {
                margin: 1.5rem 0 2rem 0;
                color: #F94D1C;
                font-weight: 400;
                font-size: 18px;
    
                @media (max-width: 992px) {
                    margin: 1rem;
                }

                @media (max-width: 576px) {
                    padding-bottom: 1rem;
                    margin: 0;
                    font-size: .9em;
                }
    
            }

            h2 {
                font-family: 'DM Sans', sans-serif;
                font-size: 45px;
                font-weight: 700;
    
                @media (max-width: 1400px) {
                    font-size: 40px;
                }
    
                @media (max-width: 992px) {
                    text-align: center;
                }
    
                @media (max-width: 768px) {
                    font-size: 1.5em;
                }

                @media (max-width: 576px) {
                    padding-bottom: 2rem;
                    text-align: left;
                    margin-left: 1.5rem;
                    margin-right: 1.5rem;
                    padding-bottom: 0.5rem;
                    font-size: 1.3em;
                }
    
            }

            p {
                margin-top: 2rem;
                margin-bottom: 3rem;

                @media (max-width: 576px) {
                    text-align: left;
                    margin-left: 1.5rem;
                    margin-right: 1.5rem;
                    margin-top: 0;
                    margin-bottom: 1rem;
                }
            }

            .btn-black {
                margin-right: 2rem;

                @media (max-width: 576px) {
                    margin-right: 0;
                    margin-bottom: 1rem;
                }
            }

            span {
                margin-left: 1rem;

                @media (max-width: 576px) {
                    margin-left: 0;
                }
            }

            .buttons {
                display: flex;
                align-items: center;

                 @media (max-width: 576px) {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    align-self: flex-start;
                    margin-left: 1.5rem;
                    padding-bottom: 1rem;
                 }
            }
        }
    }
} 

.services {
    background-color: #F0EFE9;
    margin-top: 5rem;
    background-image: url(/images/waves-reverse.svg);
    background-repeat: no-repeat;
    background-position: 100% 102%;
    width: 100%;

    @media (max-width: 576px) {
        margin-top: 1rem;
    }
    
    .container {

         @media (max-width: 576px) {
            padding-right: 1rem;
         }

        .section-title {
            
            p {
                padding-top: 2rem;
                padding-bottom: 1rem;
                color: #F94D1C;
                font-weight: 400;
                font-size: 18px;
    
                @media (max-width: 992px) {
                    margin: 1rem;
                }

                @media (max-width: 576px) {
                    padding-bottom: 1rem;
                    padding-top: 1rem;
                    text-align: center;
                    font-size: .9em;
                    margin: 0;
                }
            }

            h2 {
                font-family: 'DM Sans', sans-serif;
                font-size: 45px;
                font-weight: 700;
    
                @media (max-width: 1400px) {
                    font-size: 40px;
                }
    
                @media (max-width: 992px) {
                    text-align: center;
                }
    
                @media (max-width: 768px) {
                    font-size: 1.5em;
                }

                @media (max-width: 576px) {
                    padding-bottom: 1rem;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    font-size: 1.3em;
                }
            }
        }

        .cards {
            display: flex;
            gap: 1.5rem;
            padding-top: 2rem;
            padding-bottom: 2rem;

            @media (max-width: 576px) {
                flex-direction: column;
            }

            .box {
                background-color: #FFFFFF;
                padding: 2rem;
                padding-top: 3rem;

                &:hover {
                    background-color: #F9D783;
                }

                .line {
                    border-bottom: 1.5px solid #191919;
                    margin-bottom: 1.5rem;
                    width: 39px;
                }

                h3 {
                    margin-bottom: 1rem;

                    @media (max-width: 576px) {
                        font-size: 1.2em;
                        font-weight: 700;
                    }
                }

                p {
                    margin-bottom: 3rem;

                    @media (max-width: 576px) {
                        font-size: .9em;
                    }
                }

                .btn-round {
                    float: right;
                    background-color: #191919;
                    color: #F0EFE9;

                    &:hover {
                        background-color: #F0EFE9;
                        border: solid 1px #F0EFE9;
                        color: #191919;
                    }
                }
            }
        
        }

        .button {
            display: flex;
            justify-content: center;
            padding-bottom: 5rem;

            @media (max-width: 576px) {
                padding-bottom: 2rem;
            }
        }
    }
    
}

.why-choose-us {

    .container {
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;

        @media (max-width: 992px) {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        @media (max-width: 576px) {
            width: 100%;
            padding: 0;
        }

        .content-left {

            @media (max-width: 576px) {
                width: 100%;
            }

            p {
                margin: 1.5rem 0 1.5rem 0;
                color: #F94D1C;
                font-weight: 400;
                font-size: 18px;

                @media (max-width: 992px) {
                    margin: 1rem;
                }

                @media (max-width: 576px) {
                    margin: 0;
                    width: 100%;
                    font-size: .9em;
                    text-align: center;
                    padding: 1rem;

                }
            }

            h2 {
                margin-bottom: 1.5rem;
                font-weight: 700;
                font-size: 45px;

                @media (max-width: 1400px) {
                    font-size: 40px;
                }
    
                @media (max-width: 992px) {
                    text-align: center;
                }
    
                @media (max-width: 768px) {
                    font-size: 1.5em;
                }

                @media (max-width: 576px) {
                    padding-bottom: 2rem;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    padding: 1rem;
                    font-size: 1.3em;
                }
            }

            .bottom-box {
                display: grid;
                grid-template-columns: 1fr 7fr;
                align-items: center;
                justify-items: center;
                
                @media (max-width: 576px) {
                    padding-bottom: 2rem;
                    padding-top: 1rem;
                }

                .icon {
                    
                    img {
                        border: 1.5px solid #E7E7E7;
                        border-radius: 50%;
                        padding: 0.5rem;
                        background-color: #FFFFFF;
                        margin-bottom: 2rem;

                        @media (max-width: 576px) {
                            text-align: left;
                            margin-left: 1rem;
                            margin-bottom: 0;
                        }
                    }

                }

                .text {
                    display: grid;
                    grid-template-columns: 1fr;
                    margin-left: 1rem;
                    line-height: 1rem;

                    @media (max-width: 576px) {
                        display: grid;
                        align-items: baseline;
                        
                    }

                    h3 {
                        font-size: 22px;
                        color: #191919;
                        margin: 0.5rem 0;
                        font-weight: 700;
                        padding: 0;

                        @media (max-width: 576px) {
                            font-size: 1.1em;
                        }
                    }

                    p {
                        margin: 0 0 3rem 0;
                        color: #191919;

                        @media (max-width: 576px) {
                            font-size: .9em;
                            margin: 0;
                            margin-bottom: 1.5rem;
                            padding: 0;
                            text-align: left;
                        }
                    }

                }

            }
        }
        .content-right {
            padding-top: 3rem;
            position: relative;

            @media (max-width: 576px) {
                display: none;
            }
            
            .bg-box {
                position: absolute;
                background-color: #F0EFE9;
                width: 1057px; 
                height: 425px;
                top: 13rem;
                right: -18.99rem;
            }

            img {
                position: absolute;
                margin-top: 1.5rem;
            }
        }
    }
}

.project-and-case {

    .container {

        .section-title {
            text-align: center;
            margin-top: 2rem;
            padding-bottom: 1rem;

            @media (max-width: 576px) {
                margin-top: 1rem;
            }
        }

        .projects {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;

            @media (max-width: 576px) {
                gap: 1rem;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
            }

            .article {
                color: #191919;
                text-decoration: none;

                &:hover {

                    div {
                        text-decoration: underline;
                        font-weight: bold;
                    }
                }

                img {
                    width: 100%;
                }
            
                h3 {
                    font-size: 22px;
                    font-weight: 700;
                    padding-top: 2rem;
                    padding-bottom: 1rem;
                    border-bottom: 1.5px solid #E7E7E7;
                    color: #191919;

                    @media (max-width: 576px) {
                    font-size: 1em;
                    }
                }

                div {
                    text-decoration: none;
                    color: #191919;
                    display: block;
                    text-align: right;
                    margin-top: 2rem;

                    @media (max-width: 576px) {
                        font-size: 0.9em;
                    }
                }
            }
            
        }

        .button {
            text-align: center;
            margin-top: 5rem;
            
            @media (max-width: 576px) {
                margin-top: 2.5rem;
                margin-bottom: 3rem;
            }
        }
    }
}

.team-members {
    background-color: #F0D082;
    margin-top: 5rem;

    @media (max-width: 576px) {
        margin-top: 2rem;
    }

    .container {

        .section-title {
            padding-top: 4rem;

            @media (max-width: 576px) {
                padding-top: 1.5rem;
            }

            p {

                @media (max-width: 576px) {
                    text-align: center;
                }
            }
            
            h2 {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media (max-width: 576px) {
                    flex-direction: column;
                }

                a {
                    border: 1px solid #191919;

                    @media (max-width: 576px) {
                        margin-top: 1rem;
                    }
                }
            }

        }

        .section-team {
            display: flex;
            justify-content: space-around;
            gap: 1rem;
            margin-top: 5rem;

            @media (max-width: 576px) {
                display: grid;
                margin-top: 2rem;
            }

            div {
                
                h3 {
                    padding-top: 2rem;
                    font-weight: 700;
                    font-size: 22px;
                
                    @media (max-width: 576px) {
                        padding-top: 1rem;
                    }
                }
            }
        }

        .icons {
            margin-top: 2rem;
            text-align: center;
            // font-size: 12px;
            padding-bottom: 3rem;
            
            .dot {
                height: 12px;
                width: 12px;
                background-color: #C2AA70;
                border-radius: 50%;
                display: inline-block;
                margin-right: .5rem;

                &.active {
                    background-color: #191919;
                }

                &:hover {
                    background-color: #191919;
                }
                
            }

            
        }

    }
}

.testimonials {
    background-color: #F0D082;
    padding-bottom: 5rem;

    @media (max-width: 576px) {
        padding-bottom: .5rem;
    }

    .container {
        border: 1px solid #FFFFFF;
        background-color: #FFFFFF;
        border-radius: 2px;

        .section-title {
            margin-top: 4rem;
            margin-bottom: 4rem;
            text-align: center;

            @media (max-width: 576px) {
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
        }

        .section-reviews {

            .cards {
                display: flex;
                justify-content: space-around;
                gap: 4rem;
                padding: 3rem;

                @media (max-width: 576px) {
                    display: grid;
                    gap: 2rem;
                    padding: 0;
                }

                .review-card {

                    @media (max-width: 576px) {
                        border-bottom: 1.5px solid #E7E7E7;
                    }

                    p {
                        margin-bottom: 2rem;

                        @media (max-width: 576px) {
                            font-size: .9em;
                        }
                    }

                    .stars {
                        color: #F94D1C;
                        font-size: 16px;
                        margin-bottom: 1rem;
                    }

                    .review-bottom {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        @media (max-width: 576px) {
                            margin-bottom: 1.5rem;
                        }

                        div {
                           display: flex;
                           flex-direction: column;
                           margin-left: 1rem;

                           @media (max-width: 576px) {
                            justify-content: flex-end;
                           }

                           h3 {
                            font-size: 22px;
                            font-weight: 700;

                            @media (max-width: 576px) {
                                font-size: 1.1em;
                            }
                           }

                           p {
                            color: #F94D1C;
                            margin-bottom: 0;
                            font-size: 16px;

                            @media (max-width: 576px) {
                                font-size: .9em;
                            }
                           }
                        }
                    }

                }
            }
        }

        .button {
            margin-top: 5rem;
            margin-bottom: 6rem;
            text-align: center;

            @media (max-width: 576px){
                margin-top: 2rem;
                margin-bottom: 3rem;
            }
        }
    }
}

.articles-news {
    margin-top: 4rem;

    @media (max-width: 576px) {
        margin-top: 1.5rem;
    }

    .container {

        @media (max-width: 576px) {
            padding: 1rem;
        }

        .section-title {

            p {
                @media (max-width: 576px) {
                    text-align: center;
                }
            }
            
            h2 {
                display: flex;
                justify-content: space-between;
                // font-family: 'DM Sans', sans-serif;
                // font-size: 45px;
                // font-weight: 700;
                
                @media (max-width: 576px) {
                    flex-direction: column;

                    .btn-transparent {
                        margin-top: 1.5rem;
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }

        .news-section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
            margin-top: 1.5rem;

            @media (max-width: 576px) {
                grid-template-columns: 1fr;
                width: 100%;
                gap: 0;
            }

            .article {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    font-weight: 700;
                    color: #191919;
                }

                p {
                    margin-top: 1.5rem;
                    color: #191919;
                    text-decoration: none;

                    @media (max-width: 576px) {
                        margin-bottom: 1rem;
                        margin-top: 1rem;
                        font-size: .9em;
                    }
                }
                
                h3 {
                    margin-top: 1rem;
                    font-size: 22px;
                    font-weight: 700;
                    max-width: 310px;
                    text-decoration: none;
                    color: #191919;

                    @media (max-width: 576px) {
                        font-size: 1.1em;
                    }
                }

                @media (max-width: 576px) {
                    img {
                        width: 100%;
                        margin-top: 1rem;
                    }

                    border-bottom: 1.5px solid #E7E7E7;
                }
            }
        }

        .icons {
            margin-top: 1.5rem;
            text-align: center;
            padding-bottom: 1.5rem;
            
            .dot {
                height: 12px;
                width: 12px;
                background-color: #D1D1D1;
                border-radius: 50%;
                display: inline-block;
                margin-right: .5rem;

                &.active {
                    background-color: #191919;
                }

                &:hover {
                    background-color: #191919;
                }
                
            }
            
        }
    }
}

.signup {
    background-color: #F0EFE9;
    margin-top: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: url(/images/lines.svg);
    background-repeat: no-repeat;
    background-position: 100% 70%;

    @media (max-width: 576px) {
        padding-top: 2rem;
        margin-top: 0;
        padding-bottom: 2rem;
    }

    .container {
        display: flex;
        justify-content: space-evenly;

        @media (max-width: 576px) {
            display: grid;
        }

        h2 {
            font-size: 45px;
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            color: #191919;

            @media (max-width: 1400px) {
                font-size: 40px;
            }
    
            @media (max-width: 992px) {
                text-align: center;
            }
    
            @media (max-width: 768px) {
                font-size: 1.3em;
            }
        }

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 576px) {
                display: grid;
                text-align: center;
            }

            .email { 
                border: none;
                border-radius: 25px;
                padding: 15px 60px;
                color: #8C8C8C;

                @media (max-width: 576px) {
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                }
            }

            a {
                margin-left: 1rem;

                @media (max-width: 576px) {
                    margin-left: 0;
                }
            }
        }
    }

}

.footer {
    background-color: #0E1021;
    background-image: url(/images/Element.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    
    
    .container {
        padding-top: 5rem;
        color: #B6B6BC;
        font-weight: 500;
        font-size: 16px;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        gap: 4rem;
        padding-bottom: 3rem;
        align-items: center;

        @media (max-width: 576px) {
            padding-top: 2rem;
            grid-template-columns: 1fr;
            text-align: center;
            gap: 1rem;
        }

        .footer-logo {

            img {
                margin-bottom: 2rem;
            }

            p {
                font-weight: 300;
                margin: 0;

                @media (max-width: 576px) {
                    font-size: .9em;
                }
            }
        }

        .column {

            h3 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 22px;
                color: #FFFFFF;
                margin-bottom: 1.5rem;

                @media (max-width: 576px) {
                    margin-bottom: 1.5rem;
                    margin-top: 1.5rem;
                    font-size: 1.1em;
                }
            }

            ul {
                margin: 0;
                padding: 0;
                
                li {
                    list-style-type: none;
                    
                    a {
                        text-decoration: none;
                        color: #B6B6BC;
                        font-size: 16px;
                        line-height: 2rem;

                        @media (max-width: 576px) {
                            font-size: .9em;
                        }
        
                        &:hover {
                            color: #FFFFFF;
                            text-decoration: underline;
                        }
                    }
                }
                
            }

            
        }
    }
}

.bottom-footer {
    background-color: #0E1021;
    border-top: 1px solid #3E404D;
    
    .container {
        margin-top: 2rem;
        padding-bottom: 1.5rem;
        display: flex;
        justify-content: space-between;
        color: #B6B6BC;

        .copyright {

            p {
                @media (max-width: 576px) {
                    font-size: .9em;
                }
            }
        }

        .contact-media {
            a {
                margin-left: 1rem;
                color: #B6B6BC;
                font-size: 1.2rem;

                &:hover {
                    color: #F94D1C;
                }
            }
        }
    }
}