/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;500&display=swap');


html, body {
    margin: 0;
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.btn-yellow {
    background-color: #F9D783;
    border: solid 1px #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: solid 1px #191919;
        color: #F0EFE9;
    }
}

.btn-transparent {
    background-color: transparent;
    border: solid 1px #191919;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: solid 1px #191919;
        color: #F0EFE9;
    }
}

.btn-black {
    background-color: #191919;
    border: solid 1px #191919;
    color: #F0EFE9;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #F9D783;
        border: solid 1px #F9D783;
        color: #191919;
    }
}

.btn-round {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 56px;
	height: 56px;
	border: 1.2px solid #191919;
	border-radius: 50%;
	color:#191919;
    text-decoration: none;
	background-color: transparent;
	font-size: 16px;
	font-weight: 700;

    &:hover {
        background-color: #F9D783;
        border: solid 1px #F9D783;
        color: #191919;
    }
}

header {
    background-color: #F0EFE9;
    padding: 16px;

    .container {
        display: flex;
        gap: 70px;
        align-items: center;
        justify-content: space-between;

        .menu-bars {
            border: none;
            background-color: transparent;
            font-size: 25px;

            @media (min-width: 992px) {
                display: none;
            }
        }

        .menu {
           display: none;
           flex: 1;

           @media (min-width: 992px) {
            display: block;
           }

           .top-menu {
            display: flex;
            justify-content: flex-end;
            border-bottom: solid 1px #DAD9D3;
            padding-bottom: 10px;
            align-items: center;

            @media (min-width: 1200px) {
                justify-content: space-between;
            }

            .contact {
                display: none;
                align-items: center;

                @media (min-width: 1200px) {
                    display: flex;
                }

                .contact-info {
                    margin-right: 2rem;
                    border-right: solid 1px #DAD9D3;
                    padding-right: 2rem;
                    font-size: 15px;
                    font-family: "Inter", sans-serif;
                    font-weight: 300;

                    i {
                        margin-right: 5px;
                        font-size: 1.2em;
                        color: #666666;
                    }

                    &.last {
                        border: none;
                    }
                }
            }

            .contact-media {

                a {
                    margin-left: 0.5rem;
                    color: #191919;
                    font-size: 1.2rem;

                    &:hover {
                        color: #F94D1C;
                    }
                }
            }

           }

           .main-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px; 

            nav {
                a {
                    display: inline-block;
                    color: #191919;
                    text-decoration: none;
                    margin-right: 35px;
                    position: relative;

                    &.active {
                        font-weight: 500;
                    }

                    &.active::after,
                    &:hover::after {
                        content: '';
                        font-weight: 500;
                        position: absolute;
                        height: 2px;
                        width: 15px;
                        background-color: #191919;
                        left: 50%;
                        bottom: -3px;
                        transform: translate((calc(50% - 15px)));
                    }
                }
            }

            .btn-login {
                padding-top: 12px;
                padding-bottom: 12px;
            }
           
        }
        }
    }

}

.showcase {
    background-color: #F0EFE9;
    background-image: url('/images/waves2.svg');
    background-repeat: no-repeat;
    background-position: -2% 102%;
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            padding-top: 60px;
            padding-bottom: 40px;
            text-align: center;

            @media (min-width: 1200px) {
                text-align: left;
            }

            h1 {
                font-family: 'DM Sans', sans-serif;
                font-size: 50px;
                font-weight: 700;

                @media (min-width: 768px) {
                    font-size: 70px;
                }

                @media (min-width: 1400px) {
                    font-size: 86px;
                }
            }

            p {
                font-family: 'Inter', sans-serif;
                font-size: 18px;
                font-weight: 400;
                padding-top: 40px;
                padding-bottom: 40px;
                padding-left: 10px;
                padding-right: 10px;

                
                @media (min-width: 768px) {
                    font-size: 20px;
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            a {
                margin-right: 0px;
                display: block;
                margin-bottom: 20px;

                @media (min-width: 769px) {
                    margin-right: 10px;
                    display: inline-block;
                    padding: 15px 30px;
                }
            }

        }
        
        .image {
            display: none;
            margin-right: -50px;

            @media (min-width: 1200px) {
                display: block;
            }
            
        }

    }
}

.companies {
    display: none;

    @media (min-width: 1400px) {
        display: flex;
        justify-content: center;
        gap: 55px;
        margin: 3rem;
    }
}

.features {
    border: 1.2px solid #d1d1d1;
    border-radius: 1.2px;
    margin-left: 12rem;
    margin-right: 12rem;

    @media (max-width: 1400px) {
        padding: 2rem 0;
    }

    @media (max-width: 576px) {
        border: none;
        padding: 0;
        margin: 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        padding: 2rem;

        @media (max-width: 992px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        @media (max-width: 576px) {
            width: 100%;
            padding: 0;
        }

    }

    .content-left { 
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        padding: 2rem;
        margin-bottom: 10rem;

        h3 {
            margin: 1.5rem 0 2rem 0;
            color: #F94D1C;
            font-weight: 400;
            font-size: 18px;

            @media (max-width: 992px) {
                margin: 1rem;
            }

            @media (max-width: 576px) {
                margin: 1.5rem 0;
            }
        }

        h2 {
            font-family: 'DM Sans', sans-serif;
            font-size: 45px;
            font-weight: 700;

            @media (max-width: 1400px) {
                font-size: 40px;
            }

            @media (max-width: 992px) {
                text-align: center;
            }

            @media (max-width: 768px) {
                font-size: 1.5em;
            }

            @media (max-width: 576px) {
                font-size: 1.3em;
                width: 100% !important; 
            }

        }

        .btn-yellow {
            text-align: center;
            border-radius: 50px;
            padding: 15px 30px;
            width: 100%;
            margin-top: 2rem;
        }


        @media (max-width: 992px) {
            display: flex;
            align-content: center;
            align-items: center;
            margin-bottom: 1rem;
            padding: 0;
        }

        @media (max-width: 576px) {
            margin-bottom: 2rem;
            width: 100%;
        }
    }

    .content-right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 2rem;
        margin-top: 4rem;

        .content-box {
            padding: 1rem;

            @media (max-width: 992px) {
                padding: 0;
            }
        }

        i {
            margin-bottom: 2rem;
            font-size: 25px;

            @media (max-width: 992px) {
                margin-bottom: 0;
                margin-top: 1rem;
            }
        }

        @media (max-width: 992px) {
            padding: 0;
            grid-template-columns: 1fr;
            text-align: center;
            margin-top: 2rem;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }
}

.about-company {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;

    @media (max-width: 576px) {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 576px) {
            display: flex;
            // justify-content: center;
            flex-direction: column;
            align-content: center;
            padding: 0;
            text-align: center;
            align-items: center;
        }

        .column-left {
            display: flex;
            position: relative;
            margin-left: 3rem;

            @media (max-width: 576px) {
                margin-left: -15rem;
                align-content: center;
            }
            
            .img {
                position: absolute;
                
                @media (max-width: 576px) {
                    width: 100%;
                    height: auto;
                }
            }
            
            .founder-box {
                background-color: #BEEBFF;
                position: absolute;
                margin-left: -60px;
                margin-bottom: 20px;
                align-self: flex-end;
                max-width: 368px;
                padding: 2rem 1rem 2rem 2rem;

                @media (max-width: 576px) {
                    margin: 0 auto;
                    text-align: left;
                }

                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    color: #191919;
                }

                span {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 16px;
                    color: #F94D1C;
                    font-weight: 700;
                }

                p {
                    font-size: 16px;
                    margin-top: 1rem;
                }
            }
        }

        .column-right {
            padding: 1.5rem;

            @media (max-width: 576px) {
                padding: 0;
                text-align: center;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                padding-top: 2rem;
            }

            h3 {
                margin: 1.5rem 0 2rem 0;
                color: #F94D1C;
                font-weight: 400;
                font-size: 18px;
    
                @media (max-width: 992px) {
                    margin: 1rem;
                }

                @media (max-width: 576px) {
                    margin: 0 auto;
                    padding-bottom: 2rem;
                }
    
            }

            h2 {
                font-family: 'DM Sans', sans-serif;
                font-size: 45px;
                font-weight: 700;
    
                @media (max-width: 1400px) {
                    font-size: 40px;
                }
    
                @media (max-width: 992px) {
                    text-align: center;
                }
    
                @media (max-width: 768px) {
                    font-size: 1.5em;
                }

                @media (max-width: 576px) {
                    padding-bottom: 2rem;
                }
    
            }

            p {
                margin-top: 2rem;
                margin-bottom: 3rem;

                @media (max-width: 576px) {
                    display: none;
                }
            }

            .btn-black {
                margin-right: 2rem;
            }

            span {
                margin-left: 1rem;
            }

            .buttons {
                display: flex;
                align-items: center;
            }
        }
    }
} 

.services {
    background-color: #F0EFE9;
    margin-top: 5rem;
    background-image: url(/images/waves-reverse.svg);
    background-repeat: no-repeat;
    background-position: 100% 110%;
    
    .container {

        .info {
            
            h3 {
                padding-top: 2rem;
                padding-bottom: 2rem;
                color: #F94D1C;
                font-weight: 400;
                font-size: 18px;
    
                @media (max-width: 992px) {
                    margin: 1rem;
                }

                @media (max-width: 576px) {
                    margin: 0 auto;
                    padding-bottom: 2rem;
                }
            }

            h2 {
                font-family: 'DM Sans', sans-serif;
                font-size: 45px;
                font-weight: 700;
    
                @media (max-width: 1400px) {
                    font-size: 40px;
                }
    
                @media (max-width: 992px) {
                    text-align: center;
                }
    
                @media (max-width: 768px) {
                    font-size: 1.5em;
                }

                @media (max-width: 576px) {
                    padding-bottom: 2rem;
                }
            }
        }

        .cards {
            display: flex;
            gap: 1.5rem;
            padding-top: 2rem;
            padding-bottom: 2rem;

            .box {
                background-color: #FFFFFF;
                padding: 2rem;
                padding-top: 3rem;

                &:hover {
                    background-color: #F9D783;
                }

                .line {
                    border-bottom: 1.5px solid #191919;
                    margin-bottom: 1.5rem;
                    width: 39px;
                }

                h3 {
                    margin-bottom: 1rem;
                }

                p {
                    margin-bottom: 3rem;
                }

                .btn-round {
                    float: right;
                    background-color: #191919;
                    color: #F0EFE9;

                    &:hover {
                        background-color: #F0EFE9;
                        border: solid 1px #F0EFE9;
                        color: #191919;
                    }
                }
            }
        
        }

        .button {
            display: flex;
            justify-content: center;
            padding-bottom: 5rem;
        }
    }
    
}

.why-choose-us {
    background-color: red;

    .container {

        .content-left {
            background-color: pink;
            margin.

            h3 {

            }

            h2 {


            }

            .bottom-box {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                img {
                    border: 1.5px solid #E7E7E7;
                    border-radius: 50%;
                    padding: 0.5rem;
                    background-color: #FFFFFF;
                    margin-bottom: 1rem;
                }

                .text {
                    margin-left: 1rem;

                    h3 {
                        font-size: 22px;
                    }
    
                    p {
                        
                    }

                }

                

            }
        }
    }
}